DJANGO_ENV=dev
DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=
DATABASE_URL=sqlite:///db.sqlite3
CONN_MAX_AGE=60

SITE_NAME=Abu Avi Bagels
SITE_PHONE=
SITE_EMAIL=hello@avisbagel.com
SITE_ADDRESS=Ben Yehuda 69, Tel Aviv
SITE_URL=http://127.0.0.1:8000
DEFAULT_FROM_EMAIL=orders@avisbagel.local

# Production + Railway Storage Bucket variable references
BUCKET=
ENDPOINT=
ACCESS_KEY_ID=
SECRET_ACCESS_KEY=
REGION=auto
AWS_S3_SIGNATURE_VERSION=s3v4
AWS_S3_ADDRESSING_STYLE=virtual
