Django==5.2.11
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3

python-decouple==3.8
dj-database-url==2.3.0
whitenoise==6.9.0
gunicorn==23.0.0
Pillow==11.1.0
psycopg2-binary==2.9.10

django-storages==1.14.5
boto3==1.37.9
